.item {
  list-style-type: none;
  padding: 17px 10px 0;
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: var(--box-shadow)
}

.innerItem {
  display: flex;
  flex-wrap: wrap;
  color: var(--black);
}

.checkbox {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

.checkboxLabel {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkboxLabel svg {
  width: 15px;
  height: 15px;
}

.details {
  flex-basis: 80%;
  font-size: 1.2rem;
}

.item .actions {
  flex-basis: 100%;
  text-align: right;
}

.item button {
  background: transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.item button:hover,
.item button:focus  {
  background: transparent;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: var(--border);
  margin-bottom: 20px;
  font-size: 1.2rem;
}
