.item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 17px 10px 0;
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: var(--box-shadow)
}

.innerItem {
  display: flex;
  flex-wrap: wrap;
  color: var(--black);
}

.checkbox {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  flex-basis: 10%;
}

.details {
  flex-basis: 80%;
}

.item label {
  display: block;
}

.item .actions {
  flex-basis: 100%;
  text-align: right;
}

.item button {
  background: transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.item button:hover,
.item button:focus  {
  background: transparent;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: var(--border);
}
