
.topContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px 1fr;
    align-items: center;
}

.topContainerEmpty {
    margin-top: 30px;
    text-align: center;
}

.topContainer h2 {
    grid-column: span 2;
}

.todoSearch {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 16px;
    position: relative;
    margin-bottom: 20px;
    grid-row: 2;
    grid-column: 1 / -1;
}

.todoSearch svg {
    position: absolute;
    top: 27px;
    left: 25px;
}

.todoSearch p {
    margin-top: 10px;
}

input.todoSearchInput {
    padding-left: 35px;
}

button.cancelSearch svg {
    transform: rotate(-45deg);
}

button.cancelSearch:hover svg,
button.cancelSearch:focus svg {
    transform: rotate(-45deg);
}
