* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 1rem 10px 4rem;
}

.form-container {
  flex-basis: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.addTodo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.addTodoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 1.3em;
  cursor: pointer;
}

.addTodoBtn svg {
  margin-left: 10px;
  transition: transform .3s;
}

.addTodoBtn--cancel svg{
  transform: rotate(45deg);
}


.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  height: 45px;
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s;
}

.input-submit:hover,
.input-submit:focus {
  background-color: rgb(162, 255, 162);
}

svg {
  width: 20px;
  height: 20px;
  fill: #333;
}

.navBar {
  width: 100%;
  background: lightblue;
  padding: 20px;
}

.navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

.navBar__link {
  color: black;
  text-decoration: none;
  padding: 0 20px;
}

.navBar__link--active {
  text-decoration: underline;
}
